# Python bytecode
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
